body {
  font: 48px 'Amatic SC', serif;
  line-height: 1.618em;

  @media #{$small}, #{$medium} {
    font-size: 36px;
  }
}

a {
  cursor: default;
  transition: 0.2s ease;

  &:hover {
    letter-spacing: 0.1em;
    transition: 0.2s ease;
  }
}
