// Breakpoints
// -----------

$extra-large: "only screen and (min-width: 1350px)";
$large: "only screen and (min-width: 1025px) and (max-width: 1350px)";
$medium: "only screen and (min-width: 761px) and (max-width: 1024px)";
$small: "only screen and (max-width: 760px)";
