.blog-post {
  box-sizing: border-box;
  background: $white;
  margin: 3em auto;
  padding: 1.5em 1em;
  width: 1024px;

  & > * + * {
    margin: 1em 0;
  }

  @media #{$medium} {
    width: 750px;
  }

  @media #{$small} {
    width: 95%;
  }
}

.blog-post-paragraph > .rich-text {
  font: 0.5em Lato, sans-serif;
  line-height: 1.5em;
  margin-top: 0.5em;
}

.blog-post-pics-container {
  display: flex;
  justify-content: space-between;

  @media #{$small} {
    flex-direction: column;
  }

  &.two_pics > * {
    width: 49%;

    @media #{$small} {
      width: 100%;
    }
  }

  &.three_pics > * {
    width: 32%;

    @media #{$small} {
      width: 100%;
    }
  }
}

.blog-post-pics-container-pic img {
  height: auto;
  width: 100%;
}

.blog-post-social {
  align-items: center;
  display: flex;
}

.blog-post-social-heading {
  font-size: 1em;
  text-transform: initial;
  margin-right: 25px;
}

.blog-post-social-icon {
  height: 100%;
  margin-right: 15px;
  width: 40px;

  @media #{$small} {
    width: 25px;
  }
}

.blog-post-back {
  cursor: default;
  transition: 0.2s ease;

  &:hover {
    letter-spacing: 0.1em;
    transition: 0.2s ease;
  }

  span {
    margin-right: 15px;
  }
}
