.blog-post {
  box-sizing: border-box;
  background: $white;
  margin: 3em auto;
  padding: 1.5em 1em;
  width: 1024px;

  figure > img {
    width: 100%;
  }

  & > * + * {
    margin: 1em 0;
  }

  @media #{$medium} {
    width: 750px;
  }

  @media #{$small} {
    width: 95%;
  }
}

.blog-post-paragraph-text {
  font: 0.5em Lato, sans-serif;
  line-height: 1.5em;
  margin-top: 0.5em;
}

.blog-post-social-icon {
  margin-right: 15px;
  width: 25px;
}
