.blog {
  background: darken($mine, 7%) url("/static/images/icons-bg.png");
  background-attachment: fixed;
  height: 100%;
  min-height: 100vh;
  padding-top: 125px;
  position: relative;
  z-index: 1;
}

.blog-header {
  height: auto;
  position: relative;
}

.blog-header-navigation {
  position: relative;

  @media #{$medium} {
    height: 150px;
  }
}

.blog-index {
  margin: 3em auto;
  padding: 1em;
  width: 1024px;

  figure {
    margin: 0;
  }

  & > * + * {
    margin-top: 1em;
  }

  @media #{$medium} {
    padding: 1em 0;
    width: 750px;
  }
}

.blog-index-search {
  background: rgba(255, 255, 255, 0.9);
  height: 100vh;
  left: -100vw;
  overflow: scroll;
  position: absolute;
  top: 0;
  width: 100vw;
  z-index: 100;
}

.blog-index-search-taglist {
  margin: 3em auto 0;
  width: 25%;
  text-align: center;

  ul {
    margin-top: 1em;
  }

  ul li {
    transition: 0.2s ease;
    cursor: default;
  }

  ul li:hover {
    letter-spacing: 0.1em;
    transition: 0.2s ease;
  }
}

.blog-index-search-button {
  background: $white;
  cursor: default;
  display: flex;
  padding: 0 0.5em;
  position: fixed;
  right: 0;
  top: 12em;
  transition: 0.2s ease;
  z-index: 200;

  &:hover {
    letter-spacing: 0.1em;
    transition: 0.2s ease;
  }
}

.blog-index-search-button-lens {
  width: 35px;
}

.blog-index-search-button-text {
  margin-left: 10px;
  text-transform: uppercase;
}

.blog-index-preview {
  background: $white;
  display: flex;
  height: 342px;
  overflow: hidden;
  width: 1024px;

  @media #{$medium} {
    height: 250px;
    width: 750px;
  }
}

.blog-index-preview-post {
  box-sizing: border-box;
  padding: 0.8em;
  position: relative;
  width: 50%;
}

.blog-index-preview-post-heading {
  line-height: 1.2em;
}

.blog-index-preview-post-text {
  font: 0.4em Lato, sans-serif;
  line-height: 1.5em;
  margin-top: 0.5em;
}

.blog-index-preview-post-meta {
  bottom: 0.5em;
  display: flex;
  justify-content: space-between;
  position: absolute;
  width: calc(100% - 1.6em);
}

.blog-index-preview-post-meta-date p {
  font-size: 0.6em;
  line-height: 1em;
}

.blog-index-preview-post-meta-tags {
  color: #bbb;
  font: 0.3em Lato, sans-serif;
  margin: 11px 0 0 25px;
}

.blog-index-preview-post-meta-tags-tag {
  &:not(:first-child)::before {
    content: ',';
    left: -4px;
    position: relative;
  }
}

.blog-index-preview-pics {
  width: 50%;
}

.blog-index-preview-pics-pic {
  width: 100%;
}

.grid-six > img {
  width: 49.34%;
  margin-bottom: -14px;
}

.blog-index-button {
  background: white;
  cursor: default;
  display: inline-block;
  left: 50%;
  margin: 1.5em auto 0;
  padding: 0 0.5em;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  transform: translateX(-50%);
  transition: 0.2s ease;

  &:hover {
    letter-spacing: 0.1em;
    transition: 0.2s ease;
  }
}
