.blog-post {
  box-sizing: border-box;
  background: $white;
  margin: 3em auto;
  padding: 1.5em 1em;
  width: 1024px;

  figure > img {
    width: 100%;
  }

  & > * + * {
    margin: 1em 0;
  }

  @media #{$medium} {
    width: 750px;
  }

  @media #{$small} {
    width: 95%;
  }
}

.blog-post-paragraph-text {
  font: 0.5em Lato, sans-serif;
  line-height: 1.5em;
  margin-top: 0.5em;
}

.blog-post-social {
  align-items: center;
  display: flex;
}

.blog-post-social-heading {
  font-size: 1em;
  text-transform: initial;
  margin-right: 25px;
}

.blog-post-social-icon {
  height: 100%;
  margin-right: 15px;
  width: 40px;

  @media #{$small} {
    width: 25px;
  }
}

.blog-post-back {
  cursor: default;
  transition: 0.2s ease;

  &:hover {
    letter-spacing: 0.1em;
    transition: 0.2s ease;
  }

  span {
    margin-right: 15px;
  }
}
