body {
  &.viewport-block {
    overflow: hidden;
  }
}

.blog-tags-search {
  background: rgba(255, 255, 255, 0.9);
  height: 100vh;
  left: -100vw;
  overflow: scroll;
  position: fixed;
  top: 0;
  transition: 0.2s ease;
  width: 100vw;
  z-index: 100;

  &.open {
    left: 0;
  }
}

.blog-tags-search-taglist {
  margin: 3em auto 0;
  width: 25%;
  text-align: center;

  @media #{$small}, #{$medium} {
    width: 90%;
  }

  ul {
    margin-top: 1em;
  }

  ul li {
    cursor: default;
    font-family: Lato;
    font-size: 0.667em;
    transition: 0.2s ease;
  }

  ul li:hover {
    letter-spacing: 0.1em;
    transition: 0.2s ease;
  }
}

.blog-tags-search-button {
  background: $white;
  cursor: default;
  position: fixed;
  right: 0;
  top: 12em;
  transition: 0.2s ease;
  z-index: 200;

  @media #{$small}, #{$medium} {
    display: flex;
    margin-top: 0.5em;
    position: relative;
    top: 0;
    width: 100%;
  }

  &.open {
    @media #{$small}, #{$medium} {
      margin-top: 0;
      position: absolute;
      top: 0.1vh;
    }
  }
}

.blog-tags-search-button-container {
  display: flex;
  overflow: hidden;
  padding: 0 0.5em;
  transition: 0.2s ease;
  width: 100px;

  &:hover {
    letter-spacing: 0.1em;
    transition: 0.2s ease;
    width: auto;
  }
}

.blog-tags-search-button-container-icon {
  position: relative;
  top: 22px;
  transition: 0.2s ease;
  width: 35px;

  @media #{$small}, #{$medium} {
    top: 12px;
  }
  
  &.switch {
    top: -46px;

    @media #{$small}, #{$medium} {
      top: -56px;
    }
  }
}

.blog-tags-search-button-container-icon-open {
  background: url("/static/svg/search.svg") no-repeat center / contain;
  height: 35px;
  width: 35px;

  @media #{$medium} {
    width: 26px;
  }
}

.blog-tags-search-button-container-icon-close {
  background: url("/static/svg/close.svg") no-repeat center / contain;
  height: 35px;
  position: relative;
  top: 33px;
  width: 35px;

  @media #{$medium} {
    width: 26px;
  }
}

.blog-tags-search-button-tags_selected {
  box-sizing: border-box;
  color: #ccc;
  line-height: 0;
  overflow: hidden;
  padding: 0 0.5em;
  text-align: center;
  text-overflow: ellipsis;

  @media #{$small}, #{$medium} {
    line-height: 1.25em;
    text-align: left;
  }

  span {
    font: 0.4em 'Lato', sans-serif;
    line-height: 2.618em;
    white-space: nowrap;

    &:hover {
      text-decoration: line-through;
    }
  }
}

.blog-index {
  margin: 3em auto;
  overflow: hidden;

  @media #{$medium} {
    margin-top: 0;
  }
}

.blog-tags-search-button-text {
  margin-left: 10px;
  text-transform: uppercase;
}

.blog-index-container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 1024px;

  & > * + * {
    margin-top: 1em;

    @media #{$small} {
      margin-top: 0;
    }
  }

  @media #{$medium} {
    padding: 2em 0;
    width: 750px;
  }

  @media #{$small} {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0;
    width: 100%;
  }
}

.blog-index-container-preview {
  background: $white;
  display: flex;
  height: 342px;
  overflow: hidden;
  width: 1024px;

  @media #{$medium} {
    height: 250px;
    width: 750px;
  }

  @media #{$small} {
    flex-wrap: wrap;
    height: auto;
    margin-top: 1em;
    min-width: 320px;
    width: 45%;
  }
}

.blog-index-container-preview-post {
  box-sizing: border-box;
  padding: 0.8em;
  position: relative;
  width: 50%;

  @media #{$small} {
    order: 2;
    width: 100%;
  }
}

.blog-index-container-preview-post-heading {
  font-size: 1em;
  line-height: 1.2em;
  letter-spacing: 0;

  &:hover {
    letter-spacing: 0;
    text-decoration: underline;
  }
}

.blog-index-container-preview-post-text {
  font: 0.4em Lato, sans-serif;
  line-height: 1.5em;
  margin-top: 0.5em;
}

.blog-index-container-preview-post-meta {
  bottom: 0.75em;
  display: flex;
  justify-content: space-between;
  position: absolute;
  width: calc(100% - 1.6em);

  @media #{$small} {
    margin-top: 1em;
    position: static;
    width: 100%;
  }
}

.blog-index-container-preview-post-meta-date p {
  font-size: 0.667em;
  line-height: 1em;
}

.blog-index-container-preview-post-meta-tags {
  color: #bbb;
  font: 0.4em Lato, sans-serif;
  margin: 8px 0 0 25px;
}

.blog-index-container-preview-post-meta-tags-tag {
  &:not(:first-child)::before {
    content: ',';
    left: -4px;
    position: relative;
  }
}

.blog-index-container-preview-pics {
  margin: 0;
  position: relative;
  width: 50%;

  @media #{$small} {
    height: 180px;
    order: 1;
    overflow: hidden;
    width: 100%;
  }
}

.blog-index-container-preview-pics-pic {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
}

.grid-six > img {
  width: 49.34%;
  margin-bottom: -14px;

  @media #{$medium} {
    width: 49.26%;
    margin-bottom: -11px;
  }
}

.blog-index-button {
  background: white;
  cursor: default;
  display: inline-block;
  left: 50%;
  margin: 1.5em auto 0;
  padding: 0 0.5em;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  transform: translateX(-50%);
  transition: 0.2s ease;

  &:hover {
    letter-spacing: 0.1em;
    transition: 0.2s ease;
  }
}
