.contacts {
  background: darken($mine, 7%) url("../images/pattern.png");
  color: $white;
  text-align: center;
}

.contacts-container {
  padding: 1.618em 30%;

  & > * + * {
  margin-top: 0.618em;
  }
}

.contacts-container-opening,
.contacts-container-touch,
.contacts-container-social {
  & > * + * {
    margin-top: 0.236em;
  }
}

.contacts-container-opening-details,
.contacts-container-touch-details,
.contacts-container-social-details {
  display: flex;
  justify-content: space-around;
}

#map {
  width: 100%;
  height: 400px;
}
