.header {
  height: 100vh;
  position: absolute;
  width: 100%;
  z-index: $z-header;

  @media #{$small}, #{$medium} {
    display: none;
  }

  &.sticky-header {
    display: none;

    @media #{$small}, #{$medium} {
      display: block;
    }
  }

  &.scroll-header {
    display: block;
  }
}

.header-logo {
  background: url("/static/svg/box.svg") no-repeat center / contain;
  left: 50%;
  max-width: 400px;
  padding: 75px;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  z-index: $z-logo;

  &.sticky-header-logo {
    background: none;
    left: 0;
    padding: 0;
    top: 48.7%;
    transform: translateY(-50%);
    width: 33%;

    @media #{$small} {
      top: 48.5%;
    }
  }

  &.scroll-header-logo {
    top: 0;
    transform: translateY(0);
  }
}

.header-logo-icon {
  height: 65px;
  margin: auto;
  width: 213px;

  &.sticky-header-logo-icon {
    display: none;
  }
}

.header-logo-dispensa63 {
  margin: 15px auto 0;
  width: 285px;

  &.sticky-header-logo-dispensa63 {
    margin: 25px 0 0 5%;
    width: 125px;
  }

  &.scroll-header-logo-dispensa63 {
    margin: 0 0 0 5%;
  }
}

.header-logo-dispensa63-black {
  &.sticky-header-logo-dispensa63-black {
    display: none;
  }
}

.header-logo-dispensa63-white {
  display: none;
  height: 103px;
  width: 100%;

  &.sticky-header-logo-dispensa63-white {
    display: block;

    @media #{$small} {
      height: 74px;
    }
  }
}

.header-navigation {
  border-bottom: 2px solid white;
  border-top: 2px solid white;
  bottom: 0;
  flex-grow: 1;
  height: 175px;
  margin: auto;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;

  &.sticky-header-navigation {
    bottom: 0;
    height: 100px;

    &.sticky-header-navigation-open {
      @media #{$small} {
        height: auto;
      }
    }
  }

  &.scroll-header-navigation {
    bottom: auto;
  }
}

.header-navigation-icon {
  display: none;
  position: absolute;
  right: 5%;
  top: 38px;
  width: 25px;
  z-index: 1000;

  &.sticky-header-navigation-icon {
    @media #{$small} {
      display: block;
    }
  }
}

.header-navigation-nav {
  height: 100%;
  position: absolute;
  width: 100%;
  z-index: $z-nav;

  &.sticky-header-navigation-nav {
    right: 0;
    width: 65%;

    @media #{$small} {
      bottom: 0;
      height: 50%;
      opacity: 0;
      width: 100%;
    }

    &.sticky-header-navigation-nav-open {
      @media #{$small} {
        opacity: 1;
      }
    }
  }
}

.header-navigation-nav ul {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: space-around;

  @media #{$small} {
    flex-direction: column;
  }
}

.header-navigation-nav ul li {
  color: $white;
  display: inline-block;
  font: 0.5em Lato;
  text-align: center;
  text-transform: uppercase;
  width: 20%;
}

.sticky-header-navigation-nav ul li {
  flex-grow: 0.5;
  font-size: 0.4em;
  width: auto;

  &:nth-child(3) {
    display: none;
  }
}

.header-navigation-blur {
  filter: blur(10px);
  height: 250px;
  margin: -20px auto;
  overflow: hidden;
  position: relative;
  width: 100%;
  z-index: 100;

  .webp & {
    background: url("/static/images/splash.webp") center / cover no-repeat fixed;
  }

  .no-webp & {
    background: url("/static/images/splash.jpg") center / cover no-repeat fixed;
  }
}

.header-navigation-blur:after {
  background: rgba(0, 0, 0, .2);
  content: '';
  height: 100%;
  position: absolute;
  width: 100%;
}
