.header {
  height: 100vh;
  position: absolute;
  width: 100%;
  z-index: $z-header;

  @media #{$small}, #{$medium} {
    display: none;
  }

  &.mobile-header {
    display: none;

    @media #{$small}, #{$medium} {
      display: block;
    }
  }

  &.sticky-header {
    display: block;
    height: auto;
    position: fixed;
    top: -125px;
    transition: 0.2s ease;

    @media #{$small} {
      top: -225px;
    }

    &.sticky-show {
      top: 0;
      transition: 0.2s ease;
    }
  }
}

.header-logo {
  background: url("/static/svg/box.svg") no-repeat center / contain;
  left: 50%;
  max-width: 400px;
  padding: 75px;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  z-index: $z-logo;

  // Nav refactoring is required to remove the media-query below
  @media only screen and (min-width: 1025px) and (max-width: 1350px) {
    transform: translate(-50%, -50%) scale(0.8);
  }

  &.mobile-header-logo {
    background: none;
    left: 0;
    padding: 0;
    top: 48.7%;
    transform: translateY(-50%);
    width: 33%;

    @media #{$small} {
      top: 48.5%;
    }
  }

  &.sticky-header-logo {
    top: 0;
    transform: translateY(0);
  }
}

.header-logo-icon {
  height: 65px;
  margin: auto;
  width: 213px;

  &.mobile-header-logo-icon {
    display: none;
  }
}

.header-logo-dispensa63 {
  margin: 15px auto 0;
  width: 285px;

  &.mobile-header-logo-dispensa63 {
    margin: 25px 0 0 5%;
    width: 125px;
  }

  &.sticky-header-logo-dispensa63 {
    margin: 0 0 0 5%;

    @media #{$small} {
      margin-top: 15px;
    }
  }
}

.header-logo-dispensa63-black {
  &.mobile-header-logo-dispensa63-black {
    display: none;
  }
}

.header-logo-dispensa63-white {
  display: none;
  height: 103px;
  width: 100%;

  &.mobile-header-logo-dispensa63-white {
    display: block;

    @media #{$small} {
      height: 74px;
    }
  }
}

.header-navigation {
  border-bottom: 2px solid white;
  border-top: 2px solid white;
  bottom: 0;
  flex-grow: 1;
  height: 175px;
  margin: auto;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;

  // Nav refactoring is required to remove the media-query below
  @media #{$large} {
    height: 125px;
  }


  &.mobile-header-navigation {
    bottom: 0;
    height: 100px;

    &.mobile-header-navigation-open {
      @media #{$small} {
        padding-top: 100px;
        top: 100px;
      }
    }
  }

  &.sticky-header-navigation {
    bottom: auto;

    &.sticky-header-navigation-open {
      @media #{$small} {
        padding-top: 100px;
      }
    }
  }
}

.header-navigation-icon {
  display: none;
  position: absolute;
  right: 5%;
  top: 38px;
  width: 25px;
  z-index: 1000;

  &.mobile-header-navigation-icon {
    @media #{$small} {
      display: block;
    }
  }
}

.header-navigation-nav {
  height: 100%;
  position: absolute;
  width: 100%;
  z-index: $z-nav;

  &.mobile-header-navigation-nav {
    right: 0;
    width: 65%;

    @media #{$small} {
      bottom: 0;
      height: 50%;
      opacity: 0;
      width: 100%;
    }

    &.mobile-header-navigation-nav-open {
      @media #{$small} {
        opacity: 1;
      }
    }

    &.sticky-header-navigation-nav {
      &.sticky-header-navigation-nav-open {
        @media #{$small} {
          opacity: 1;
        }
      }
    }
  }
}

.header-navigation-nav ul {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: space-around;

  @media #{$small} {
    flex-direction: column;
  }
}

.header-navigation-nav ul li {
  color: $white;
  display: inline-block;
  font: 0.5em Lato;
  text-align: center;
  text-transform: uppercase;
  width: 20%;
}

.mobile-header-navigation-nav ul li {
  flex-grow: 0.5;
  font-size: 0.4em;
  width: auto;

  &:nth-child(3) {
    display: none;
  }
}

.header-navigation-blur {
  filter: blur(10px);
  height: 250px;
  margin: -20px auto;
  overflow: hidden;
  position: relative;
  width: 100%;
  z-index: 100;

  .webp & {
    background: url("/static/images/splash.webp") center / cover no-repeat fixed;
  }

  .no-webp & {
    background: url("/static/images/splash.jpg") center / cover no-repeat fixed;
  }

  @media #{$medium} {
    height: 135px;
  }

  @media #{$small} {
    top: -100px;
  }

  @media #{$small}, #{$medium} {
    background-attachment: scroll !important;
    height: 100vh;
    position: absolute;
    top: 50%;
    transform: translateY(-48%);
  }

  &.sticky-header-navigation-blur {
    opacity: 0.97;
    transform: scale(1.09);
  }
}

.header-navigation-blur:after {
  background: rgba(0, 0, 0, .2);
  content: '';
  height: 100%;
  position: absolute;
  width: 100%;
}
