.menu {
  overflow: hidden;
  padding: 3em 0;
  width: 100%;
}

.menu-heading {
  margin-right: 15%;
  text-align: right;
}

.menu-ingredients,
.menu-preparation {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 1.5em auto 0;
  width: 75%;
}

.menu-ingredients-description,
.menu-preparation-description,
.menu-courses-description {
  font: 1.25em Journal, serif;
  width: 25%;
}

.menu-courses {
  height: 3500px;
  margin: 1.5em auto 0;
  position: relative;
  width: 100%;

  figure {
    position: absolute;
  }

  img {
    width: 100%;
  }

  p {
    font: 1.25em Journal, serif;
  }
}

.menu-courses-canvas {
  height: 100%;
  position: absolute;
  width: 100%;
}

.menu-courses-canvas-breakfast,
.menu-courses-canvas-lunch,
.menu-courses-canvas-aperitif {
  margin: auto;
  position: relative;
  width: 300px;
}

.menu-courses-canvas-breakfast-doodle,
.menu-courses-canvas-lunch-doodle,
.menu-courses-canvas-aperitif-doodle {
  width: 100%;
}

.menu-courses-canvas-breakfast-text,
.menu-courses-canvas-lunch-text,
.menu-courses-canvas-aperitif-text {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

.menu-courses-canvas-breakfast {
  top: 300px;
}

.menu-courses-canvas-the {
  left: calc(50% - 975px);
  width: 750px;
  top: 75px;
}

.menu-courses-canvas-danish {
  left: calc(50% + 375px);
  top: 100px;
  width: 300px;
}

.menu-courses-canvas-croissant {
  &-first,
  &-second {
    width: 200px;
  }

  &-first {
    left: calc(50% - 850px);
    top: 700px;
  }

  &-second {
    left: calc(50% + 850px);
    top: 700px;
    transform: rotate(25deg);
  }
}

.menu-courses-canvas-cupcake {
  left: calc(50% - 450px);
  top: 900px;
  width: 200px;
}

.menu-courses-canvas-yogurt {
  left: calc(50% + 200px);
  top: 700px;
}

.menu-courses-canvas-lunch {
  top: 1300px;
}

.menu-courses-canvas-salad {
  left: calc(50% - 900px);
  top: 1550px;
  width: 490px;
}

.menu-courses-canvas-coffee {
  left: calc(50% - 750px);
  top: 2100px;
  width: 500px;
}

.menu-courses-canvas-sandwich {
  left: calc(50% + 275px);
  top: 1500px;
  width: 680px;
}

.menu-courses-canvas-aperitif {
  top: 2100px;
}

.menu-courses-canvas-croutons {
  left: calc(50% - 1300px);
  top: 2550px;
  width: 1000px;
}

.menu-courses-canvas-cocktail {
  left: calc(50% + 425px);
  top: 2700px;
  width: 600px;
}
