.menu {
  box-sizing: border-box;
  overflow: hidden;
  padding: 3em 7%;
  position: relative;
  width: 100%;
}

.menu-path {
  left: calc(50% - 400px);
  position: absolute;
  top: 215px;
}

#menu-path-dashed {
  stroke-dasharray: 38;
}

.menu-heading {
  margin-right: 15%;
  text-align: right;
}

.menu-ingredients,
.menu-preparation {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 7.5em auto 0;
  position: relative;
  width: 100%;
}

.menu-ingredients {
  height: 550px;
}

.menu-preparation {
  height: 750px;
  justify-content: flex-end;
  margin-top: 3em;
}

.menu-ingredients-figure,
.menu-preparation-figure {
  img {
    width: 100%;
  }
}

.menu-ingredients-figure {
  left: calc(50% - 85px);
  position: absolute;
  top: -250px;
  width: 1001px;
}

.menu-preparation-figure {
  left: calc(50% - 975px);
  position: absolute;
  top: -25px;
  width: 1038px;
}

.menu-ingredients-description,
.menu-preparation-description,
.menu-courses-description {
  font: 1.25em Journal, serif;
  margin-left: 7%;
  width: 31%;
}

.menu-courses {
  height: 3500px;
  margin: 5em auto 0;
  position: relative;
  width: 100%;

  figure {
    position: absolute;
  }

  img {
    width: 100%;
  }

  p {
    font: 1.25em Journal, serif;
  }
}

.menu-courses-description {
  margin: auto;
  width: 100%;
}

.menu-courses-description-top {
  left: -150px;
  position: relative;
  top: -25px;
}

.menu-courses-description-bottom {
  left: 30px;
  position: relative;
  top: -5px;
}

.menu-ingredients-canvas,
.menu-preparation-canvas,
.menu-courses-canvas {
  height: 100%;
  position: absolute;
  width: 100%;
}

.menu-courses-canvas-breakfast,
.menu-courses-canvas-lunch,
.menu-courses-canvas-aperitif {
  background-color: $white;
  margin: auto;
  position: relative;
  width: 300px;
}

.menu-courses-canvas-breakfast-doodle,
.menu-courses-canvas-lunch-doodle,
.menu-courses-canvas-aperitif-doodle {
  width: 100%;
}

.menu-courses-canvas-breakfast-text,
.menu-courses-canvas-lunch-text,
.menu-courses-canvas-aperitif-text {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

.menu-courses-canvas-breakfast {
  left: 150px;
  top: 300px;
}

.menu-courses-canvas-the {
  left: calc(50% - 900px);
  width: 750px;
  top: 0;
}

.menu-courses-canvas-danish {
  left: calc(50% + 350px);
  top: 100px;
  width: 300px;
}

.menu-courses-canvas-croissant {
  &-first,
  &-second,
  &-third {
    width: 200px;
  }

  &-first {
    left: calc(50% - 750px);
    top: 700px;
  }

  &-second {
    left: calc(50% - 1050px);
    top: 525px;
    transform: rotate(30deg);
  }

  &-third {
    left: calc(50% + 850px);
    top: 700px;
    transform: rotate(25deg);
  }
}

.menu-courses-canvas-cupcake {
  left: calc(50% - 320px);
  top: 655px;
  width: 200px;
}

.menu-courses-canvas-yogurt {
  left: calc(50% + 200px);
  top: 550px;
  width: 550px;
}

.menu-courses-canvas-lunch {
  left: -75px;
  top: 1200px;
}

.menu-courses-canvas-salad {
  left: calc(50% - 850px);
  top: 1200px;
  width: 490px;
}

.menu-courses-canvas-coffee {
  left: calc(50% - 750px);
  top: 2100px;
  width: 500px;
}

.menu-courses-canvas-sandwich {
  left: calc(50% + 100px);
  top: 1400px;
  width: 680px;
}

.menu-courses-canvas-aperitif {
  left: 50px;
  top: 2125px;
}

.menu-courses-canvas-croutons {
  left: calc(50% - 1250px);
  top: 2550px;
  width: 1000px;
}

.menu-courses-canvas-cocktail {
  left: calc(50% + 110px);
  top: 2710px;
  width: 600px;
}
