.splash {
  height: 100vh;
  position: relative;
  width: 100%;
  z-index: $z-splash;

  .webp & {
    background: url("/static/images/splash.webp") center / cover no-repeat fixed;
  }

  .no-webp & {
    background: url("/static/images/splash.jpg") center / cover no-repeat fixed;
  }

  @media #{$small}, #{$medium} {
    background-attachment: scroll !important;
  }
}
