.splash {
  height: 100vh;
  position: relative;
  width: 100vw;
  z-index: $z-splash;

  .webp & {
    background: url("/static/images/splash.webp") center / cover no-repeat fixed;
  }

  .nowebp & {
    background: url("/static/images/splash.jpg") center / cover no-repeat fixed;
  }
}
