.blog .header,
.error .header {
  height: auto;
  position: relative;
}

.blog .header-logo,
.error .header-logo {
  @media #{$small}, #{$medium} {
    top: 0;
    transform: none;
  }
}

.blog .header-navigation,
.error .header-navigation {
  position: relative;
}

.blog .header-logo-dispensa63,
.error .header-logo-dispensa63 {
  margin-top: 0;

  @media #{$small} {
    margin-top: 15px;
  }
}
