.blog .header,
.error .header {
  height: auto;
  position: relative;

  &.mobile-header.sticky-header {
    position: fixed;
  }
}

.blog .header-logo,
.error .header-logo {
  @media #{$small}, #{$medium} {
    top: 0;
    transform: none;
  }
}

.blog .header-navigation,
.error .header-navigation {
  position: relative;

  // Restore open selector's styles for mobile devices
  &.mobile-header-navigation-open {
    top: 0;
  }
}

.blog .header-logo-dispensa63,
.error .header-logo-dispensa63 {
  margin-top: 0;

  @media #{$small} {
    margin-top: 15px;
  }
}
