// Styles related to the cookie banner
// -----------------------------------

.cc-banner.cc-bottom,
.cc-window.cc-floating {
  background-color: $mine;
  color: $white;
  font-family: 'Lato', sans-serif;
  z-index: 9999;
}

.cc-window.cc-floating {
  text-align: center;
}

a.cc-link {
  color: $wild-sand;
  cursor: default;
  opacity: 1;

  &:hover {
    color: $wild-sand;
    text-decoration: underline;
  }
}

.cc-btn {
  background-color: transparent;
  border-color: $white;
  color: $white;
  cursor: default;
}
