{% extends "blog_base.html" %}

{% load static from staticfiles %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}

{% block blog_main %}

<div class="blog">

    <header class="blog-header header">
        <div class="blog-header-logo header-logo">
            <div class="blog-header-logo-icon header-logo-icon">
                <img class="header-logo-icon-svg js-inject-svg" src="{% static 'svg/whisk.svg' %}">
            </div>
            <div class="blog-header-logo-dispensa63 header-logo-dispensa63">
                <img class="blog-header-logo-dispensa63-svg js-inject-svg" src="{% static 'svg/logo.svg' %}">
                <img class="blog-header-logo-dispensa63-white js-inject-svg" src="{% static 'svg/logo-white.svg' %}">
            </div>
        </div>
        <div class="blog-header-navigation header-navigation">
            <img class="blog-header-navigation-icon js-inject-svg" src="{% static 'svg/menu.svg' %}">
            <nav class="blog-header-navigation-nav header-navigation-nav">
                <ul>
                    <li><a href="#">Dispensa 63</a></li>
                    <li><a href="#">Menu</a></li>
                    <li><a href="#">evonove.it</a></li>
                    <li><a href="#">Contatti</a></li>
                    <li><a href="#">Blog</a></li>
                </ul>
            </nav>
            <div class="header-navigation-blur"></div>
        </div>
    </header>

    <div class="blog-post">
        <h1>Lorem ipsum dolor sit amet elit!</h1>
        <p>01 Aprile 2016</p>
        <div class="blog-post-paragraph">
            <p class="blog-post-paragraph-text">Quisque pharetra feugiat pharetra. Etiam quis felis blandit, vulputate tortor ut, dapibus mi. Suspendisse commodo congue pulvinar. Etiam rutrum tristique est, non egestas mi elementum vitae. Phasellus tincidunt ultricies dui a euismod. Sed auctor vehicula quam, in interdum augue congue sed. Suspendisse nec lacinia ex. Nullam in sapien quis leo pellentesque viverra. Praesent id urna felis. Morbi luctus vulputate orci vel porttitor. Aliquam est mi, tempor eget orci a, commodo sagittis sem.</p>
        </div>
        <figure class="blog-post-pics">
            <img class="blog-index-preview-pics-pic" src="{% static 'images/blog-placeholder.webp' %}" onerror="this.onerror=null; this.src='{% static 'images/blog-placeholder.jpg' %}'">
        </figure>
        <div class="blog-post-paragraph">
            <p class="blog-post-paragraph-text">Quisque pharetra feugiat pharetra. Etiam quis felis blandit, vulputate tortor ut, dapibus mi. Suspendisse commodo congue pulvinar. Etiam rutrum tristique est, non egestas mi elementum vitae. Phasellus tincidunt ultricies dui a euismod. Sed auctor vehicula quam, in interdum augue congue sed. Suspendisse nec lacinia ex. Nullam in sapien quis leo pellentesque viverra. Praesent id urna felis. Morbi luctus vulputate orci vel porttitor. Aliquam est mi, tempor eget orci a, commodo sagittis sem.</p>
            <p class="blog-post-paragraph-text">Cras mi nisi, consectetur eu odio ut, fermentum ullamcorper odio. Nunc feugiat gravida suscipit. In ut urna sit amet elit ultricies faucibus ac sed dolor. Praesent mi eros, maximus sodales rhoncus in, tristique quis arcu. Aliquam fringilla augue arcu, vitae fermentum ante auctor id. Aenean suscipit urna vel tortor cursus eleifend. Pellentesque sodales semper ultrices. Praesent feugiat nec metus quis sodales. Ut non dignissim urna, id ullamcorper arcu. Vestibulum eleifend cursus odio, posuere faucibus quam suscipit ut. Aenean porttitor metus ut ex viverra semper.</p>
        </div>
        <figure class="blog-post-pics">
            <img class="blog-index-preview-pics-pic" src="{% static 'images/blog-placeholder.webp' %}" onerror="this.onerror=null; this.src='{% static 'images/blog-placeholder.jpg' %}'">
        </figure>
        <div class="blog-post-paragraph">
            <p class="blog-post-paragraph-text">Quisque pharetra feugiat pharetra. Etiam quis felis blandit, vulputate tortor ut, dapibus mi. Suspendisse commodo congue pulvinar. Etiam rutrum tristique est, non egestas mi elementum vitae. Phasellus tincidunt ultricies dui a euismod. Sed auctor vehicula quam, in interdum augue congue sed. Suspendisse nec lacinia ex. Nullam in sapien quis leo pellentesque viverra. Praesent id urna felis. Morbi luctus vulputate orci vel porttitor. Aliquam est mi, tempor eget orci a, commodo sagittis sem.</p>
        </div>
        <div class="blog-post-social">
            <img class="blog-post-social-icon js-inject-svg" src="{% static 'svg/facebook.svg' %}">
            <img class="blog-post-social-icon js-inject-svg" src="{% static 'svg/instagram.svg' %}">
            <img class="blog-post-social-icon js-inject-svg" src="{% static 'svg/pinterest.svg' %}">
        </div>
        <div class="blog-post-back"><span>< </span>Torna all'indice</div>
    </div>


    <footer class="footer">
        <p class="footer-text">&copy; 2016 Dispensa 63 All rights reserved. Website design and development by Evonove.</p>
    </footer>

</div>

{% endblock blog_main %}
