{% extends "blog_base.html" %}

{% load staticfiles %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}


{% block blog_main %}

    <div class="blog">

        <header class="blog-header header">
            <div class="header-logo">
            <div class="header-logo-icon">
            <img class="header-logo-icon-svg js-inject-svg" src="{% static 'svg/logo-carrot.svg' %}">
            </div>
            <div class="header-logo-dispensa63">
            <img class="header-logo-dispensa63-svg js-inject-svg" src="{% static 'svg/logo.svg' %}">
            </div>
            </div>
            <div class="blog-header-navigation header-navigation">
                <nav class="header-navigation-nav">
                    <ul>
                        <li><a href="#">Dispensa 63</a></li>
                        <li><a href="#">Menu</a></li>
                        <li><a href="#">evonove.it</a></li>
                        <li><a href="#">Contatti</a></li>
                        <li><a href="#">Blog</a></li>
                    </ul>
                </nav>
                <div class="header-navigation-blur"></div>
            </div>
        </header>

        <div class="blog-index-search">
            <div class="blog-index-search-taglist">
                <h2>Lista Tag</h2>
                <ul>
                    <li>Lorem</li>
                    <li>Ipsum</li>
                    <li>Dolor Sit</li>
                    <li>Amet</li>
                    <li>Lorem</li>
                    <li>Ipsum</li>
                    <li>Dolor Sit</li>
                    <li>Amet</li>
                    <li>Lorem</li>
                    <li>Ipsum</li>
                    <li>Dolor Sit</li>
                    <li>Amet</li>
                    <li>Lorem</li>
                    <li>Ipsum</li>
                    <li>Dolor Sit</li>
                    <li>Amet</li>
                </ul>
            </div>
        </div>
        <div class="blog-index-search-button">
            <img class="blog-index-search-button-lens js-inject-svg" src="{% static 'svg/search.svg' %}">
            <p class="blog-index-search-button-text">Tag</p>
        </div>

        <section class="blog-index">
            <div class="blog-index-preview">
                <article class="blog-index-preview-post">
                    <h2 class="blog-index-preview-post-heading">Lorem ipsum dolor sit amet elit!</h2>
                    <p class="blog-index-preview-post-text">Quisque pharetra feugiat pharetra. Etiam quis felis blandit, vulputate tortor ut, dapibus mi.</p>
                    <div class="blog-index-preview-post-meta">
                        <div class="blog-index-preview-post-meta-date">
                            <p>6.7.2016</p>
                        </div>
                        <div class="blog-index-preview-post-meta-tags">
                            <span class="blog-index-preview-post-meta-tags-tag">Lorem</span>
                            <span class="blog-index-preview-post-meta-tags-tag">Ipsum</span>
                            <span class="blog-index-preview-post-meta-tags-tag">Dolor Sit</span>
                        </div>
                    </div>
                </article>
                <figure class="blog-index-preview-pics">
                    <img class="blog-index-preview-pics-pic" src="src={% static 'images/blog-placeholder.webp' %}" onerror="this.onerror=null; this.src='{% static 'images/blog-placeholder.jpg' %}'">
                </figure>
            </div>
            <div class="blog-index-preview">
                <article class="blog-index-preview-post">
                    <h2 class="blog-index-preview-post-heading">Sed ut condimentum purus.</h2>
                    <p class="blog-index-preview-post-text">Quisque pharetra feugiat pharetra. Etiam quis felis blandit, vulputate tortor ut, dapibus mi.</p>
                    <div class="blog-index-preview-post-meta">
                        <div class="blog-index-preview-post-meta-date">
                            <p>12.6.2016</p>
                        </div>
                        <div class="blog-index-preview-post-meta-tags">
                            <span class="blog-index-preview-post-meta-tags-tag">Lorem</span>
                        </div>
                    </div>
                </article>
                <figure class="blog-index-preview-pics grid-six">
                    <img class="blog-index-preview-pics-pic" src="src={% static 'images/blog-placeholder.webp' %}" onerror="this.onerror=null; this.src='{% static 'images/blog-placeholder.jpg' %}'">
                    <img class="blog-index-preview-pics-pic" src="src={% static 'images/blog-placeholder.webp' %}" onerror="this.onerror=null; this.src='{% static 'images/blog-placeholder.jpg' %}'">
                    <img class="blog-index-preview-pics-pic" src="src={% static 'images/blog-placeholder.webp' %}" onerror="this.onerror=null; this.src='{% static 'images/blog-placeholder.jpg' %}'">
                    <img class="blog-index-preview-pics-pic" src="src={% static 'images/blog-placeholder.webp' %}" onerror="this.onerror=null; this.src='{% static 'images/blog-placeholder.jpg' %}'">
                </figure>
            </div>
            <div class="blog-index-preview">
                <article class="blog-index-preview-post">
                    <h2 class="blog-index-preview-post-heading">Lorem ipsum dolor sit amet consectetur adipiscing elit.</h2>
                    <div class="blog-index-preview-post-meta">
                        <div class="blog-index-preview-post-meta-date">
                            <p>26.5.2016</p>
                        </div>
                        <div class="blog-index-preview-post-meta-tags">
                            <span class="blog-index-preview-post-meta-tags-tag">Ipsum</span>
                            <span class="blog-index-preview-post-meta-tags-tag">Amet</span>
                        </div>
                    </div>
                </article>
                <figure class="blog-index-preview-pics">
                    <img class="blog-index-preview-pics-pic" src="src={% static 'images/blog-placeholder.webp' %}" onerror="this.onerror=null; this.src='{% static 'images/blog-placeholder.jpg' %}'">
                </figure>
            </div>
            <div class="blog-index-button">
                Mostra di più
            </div>
        </section>

        <footer class="footer">
            <p class="footer-text">&copy; 2016 Dispensa 63 All rights reserved. Website design and development by Evonove.</p>
        </footer>

    </div>
{% endblock blog_main %}
