{% extends "blog_base.html" %}

{% load staticfiles %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}


{% block blog_main %}

    <section class="blog-tags">
        <div class="blog-tags-search">
            <div class="blog-tags-search-taglist">
                <h2>Lista Tag</h2>
                <ul>
                    <li>Lorem</li>
                    <li>Ipsum</li>
                    <li>Dolor Sit</li>
                    <li>Amet</li>
                    <li>Lorem</li>
                    <li>Ipsum</li>
                    <li>Dolor Sit</li>
                    <li>Amet</li>
                    <li>Lorem</li>
                    <li>Ipsum</li>
                    <li>Dolor Sit</li>
                    <li>Amet</li>
                    <li>Lorem</li>
                    <li>Ipsum</li>
                    <li>Dolor Sit</li>
                    <li>Amet</li>
                </ul>
            </div>
        </div>
        <div class="blog-tags-search-button">
            <div class="blog-tags-search-button-container">
                <div class="blog-tags-search-button-container-icon">
                    <div class="blog-tags-search-button-container-icon-open"></div>
                    <div class="blog-tags-search-button-container-icon-close"></div>
                </div>
                <p class="blog-tags-search-button-text">Tag</p>
            </div>
            <div class="blog-tags-search-button-tags_selected">
                <span>Dolor sit</span>
            </div>
        </div>
    </section>

    <section class="blog-index">
        <div class="blog-index-container">
            <article class="blog-index-container-preview">
                <div class="blog-index-container-preview-post">
                    <a href="#"><h2 class="blog-index-container-preview-post-heading">Lorem ipsum dolor sit amet elit!</h2></a>
                    <p class="blog-index-container-preview-post-text">Quisque pharetra feugiat pharetra. Etiam quis felis blandit, vulputate tortor ut, dapibus mi.</p>
                    <div class="blog-index-container-preview-post-meta">
                        <div class="blog-index-container-preview-post-meta-date">
                            <p>6.7.2016</p>
                        </div>
                        <div class="blog-index-container-preview-post-meta-tags">
                            <span class="blog-index-container-preview-post-meta-tags-tag">Lorem</span>
                            <span class="blog-index-container-preview-post-meta-tags-tag">Ipsum</span>
                            <span class="blog-index-container-preview-post-meta-tags-tag">Dolor Sit</span>
                        </div>
                    </div>
                </div>
                <figure class="blog-index-container-preview-pics">
                    <img class="blog-index-container-preview-pics-pic" src="{% static 'images/blog-placeholder.jpg' %}" alt="placeholder">
                </figure>
            </article>
            <article class="blog-index-container-preview">
                <div class="blog-index-container-preview-post">
                    <h2 class="blog-index-container-preview-post-heading">Sed ut condimentum purus.</h2>
                    <p class="blog-index-container-preview-post-text">Quisque pharetra feugiat pharetra. Etiam quis felis blandit, vulputate tortor ut, dapibus mi.</p>
                    <div class="blog-index-container-preview-post-meta">
                        <div class="blog-index-container-preview-post-meta-date">
                            <p>12.6.2016</p>
                        </div>
                        <div class="blog-index-container-preview-post-meta-tags">
                            <span class="blog-index-container-preview-post-meta-tags-tag">Lorem</span>
                        </div>
                    </div>
                </div>
                <figure class="blog-index-container-preview-pics">
                    <img class="blog-index-container-preview-pics-pic" src="{% static 'images/blog-placeholder_2.jpg' %}" alt="placeholder">
                </figure>
            </article>
            <article class="blog-index-container-preview">
                <div class="blog-index-container-preview-post">
                    <h2 class="blog-index-container-preview-post-heading">Lorem ipsum dolor sit amet consectetur adipiscing elit.</h2>
                    <div class="blog-index-container-preview-post-meta">
                        <div class="blog-index-container-preview-post-meta-date">
                            <p>26.5.2016</p>
                        </div>
                        <div class="blog-index-container-preview-post-meta-tags">
                            <span class="blog-index-container-preview-post-meta-tags-tag">Ipsum</span>
                            <span class="blog-index-container-preview-post-meta-tags-tag">Amet</span>
                        </div>
                    </div>
                </div>
                <figure class="blog-index-container-preview-pics">
                    <img class="blog-index-container-preview-pics-pic" src="{% static 'images/blog-placeholder.jpg' %}" alt="placeholder">
                </figure>
            </article>
        </div>
        <div class="blog-index-button">
            Mostra di più
        </div>
    </section>

{% endblock blog_main %}
