<link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.css" />
<script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.js"></script>
<script>
window.addEventListener("load", function(){
  window.cookieconsent.initialise({
    "content": {
      "message": "Questo sito web utilizza i cookie per assicurarti la migliore esperienza di navigazione sul nostro sito.",
      "dismiss": "OK!",
      "link": "Ulteriori informazioni.",
      "href": "http://www.garanteprivacy.it/web/guest/home/docweb/-/docweb-display/docweb/3585077"
    }
  })
});
</script>
