// Normalize
@import "../../../vendors/normalize-css/normalize";

a,
a:hover,
a:active,
a:visited {
  color: inherit;
  text-decoration: inherit;
}

h1,
h2,
h3,
p {
  font-weight: normal;
  margin: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
