{% load static from staticfiles %}

<header class="header">
    <div class="header-logo">
        <div class="header-logo-icon">
            <img class="header-logo-icon-svg js-inject-svg" src="{% static 'svg/whisk.svg' %}">
        </div>
        <div class="header-logo-dispensa63">
            <img class="header-logo-dispensa63-black js-inject-svg" src="{% static 'svg/logo.svg' %}">
            <img class="header-logo-dispensa63-white js-inject-svg" src="{% static 'svg/logo-white.svg' %}">
        </div>
    </div>
    <div class="header-navigation">
        <img class="header-navigation-icon js-inject-svg" src="{% static 'svg/menu.svg' %}">
        <nav class="header-navigation-nav">
            <ul>
                <li><a href="#">Dispensa 63</a></li>
                <li><a href="#about">Menù</a></li>
                <li><a href="https://evonove.it/" target="_blank">evonove.it</a></li>
                <li><a href="#contacts">Contatti</a></li>
                <li><a href="#">Blog</a></li>
            </ul>
        </nav>
    <div class="header-navigation-blur"></div>
    </div>
</header>