{% load static from staticfiles %}

<header class="header sticky-header">
    <div class="header-logo sticky-header-logo">
        <div class="header-logo-icon sticky-header-logo-icon">
            <img class="header-logo-icon-svg js-inject-svg" src="{% static 'svg/whisk.svg' %}">
        </div>
        <div class="header-logo-dispensa63 sticky-header-logo-dispensa63">
            <img class="header-logo-dispensa63-black sticky-header-logo-dispensa63-black js-inject-svg" src="{% static 'svg/logo.svg' %}">
            <img class="header-logo-dispensa63-white sticky-header-logo-dispensa63-white js-inject-svg" src="{% static 'svg/logo-white.svg' %}">
        </div>
    </div>
    <div class="header-navigation sticky-header-navigation home-sticky-header-navigation">
        <svg class="header-navigation-icon sticky-header-navigation-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 90 90">
            <g fill="#ffffff">
                <path d="M0 0h22.2v22.2H0zM0 33.9h22.2v22.2H0zM0 67.8h22.2V90H0zM33.9 0h22.2v22.2H33.9zM33.9 33.9h22.2v22.2H33.9zM67.8 33.9H90v22.2H67.8zM33.9 67.8h22.2V90H33.9zM67.8 67.8H90V90H67.8zM67.8 0H90v22.2H67.8z"/>
            </g>
        </svg>
        <nav class="header-navigation-nav sticky-header-navigation-nav">
            <ul>
                <li><a href="#">Dispensa 63</a></li>
                <li><a href="#about">Menù</a></li>
                <li><a href="https://evonove.it/" target="_blank">evonove.it</a></li>
                <li><a href="#contacts">Contatti</a></li>
                <li><a href="#">Blog</a></li>
            </ul>
        </nav>
        <div class="header-navigation-blur"></div>
    </div>
</header>