{% extends "base.html" %}

{% load staticfiles %}

{% block content %}
    <header class="header"></header>
    <section class="splash">
        <div class="splash-logo">
            <div class="splash-logo-icon">
                <img class="splash-logo-icon-svg js-inject-svg" src="{% static 'svg/logo-carrot.svg' %}">
            </div>
            <div class="splash-logo-dispensa63">
                <img class="splash-logo-dispensa63-svg js-inject-svg" src="{% static 'svg/logo.svg' %}">
            </div>
        </div>
    </section>
    <section class="about"></section>
    <section class="menu"></section>
    <section class="special-events"></section>
    <section class="contacts"></section>
    <footer class="footer"></footer>
{% endblock content %}
