{% extends "base.html" %}

{% load staticfiles %}

{% block content %}
    <header class="header">
        <div class="header-logo">
            <div class="header-logo-icon">
                <img class="header-logo-icon-svg js-inject-svg" src="{% static 'svg/logo-carrot.svg' %}">
            </div>
            <div class="header-logo-dispensa63">
                <img class="header-logo-dispensa63-svg js-inject-svg" src="{% static 'svg/logo.svg' %}">
            </div>
        </div>
        <div class="header-navigation">
            <nav class="header-navigation-nav">
                <ul>
                    <li><a href="#">Dispensa 63</a></li>
                    <li><a href="#">Menu</a></li>
                    <li><a href="#">evonove.it</a></li>
                    <li><a href="#">Contatti</a></li>
                    <li><a href="#">Blog</a></li>
                </ul>
            </nav>
            <div class="header-navigation-blur"></div>
        </div>
    </header>

    <section class="splash"></section>

    <section class="about">
        <p class="about-bio">
            Dispensa 63 è un piccolo spazio gustoso nel centro storico di Perugia,
            dove bere e mangiare delizie genuine che prepariamo tutti i giorni
            a mano nel nostro laboratorio, con ingredienti di prima scelta.
        </p>
    </section>

    <section class="menu">
        <h1 class="menu-heading">Perché i nostri piatti sono buoni e genuini?</h1>
        <div class="menu-ingredients">
            <p class="menu-ingredients-description">
                Perché utilizziamo soltanto ingredienti freschi e a filiera corta.
            </p>
            <figure class="menu-ingredients-figure">
                <img src="{% static 'images/placeholder.png' %}">
            </figure>
        </div>
        <div class="menu-preparation">
            <figure class="menu-ingredients-figure">
                <img src="{% static 'images/placeholder.png' %}">
            </figure>
            <p class="menu-preparation-description">
                Perché prepariamo tutto a mano, ogni giorno, con un pizzico di creatività.
            </p>
        </div>
        <div class="menu-courses">
            <p class="menu-courses-description center text-center">
                Così da offrirvi un menu sempre buono e genuino!
            </p>
            <div class="menu-courses-canvas">
                <div class="menu-courses-canvas-breakfast">
                    <img class="menu-courses-canvas-breakfast-doodle js-inject-svg" src="{% static 'svg/doodle.svg' %}">
                    <p class="menu-courses-canvas-breakfast-text">Colazione</p>
                </div>
                <figure class="menu-courses-canvas-the">
                    <img src="{% static 'images/the.webp' %}" onerror="this.onerror=null; this.src='{% static 'images/the.png' %}' ">
                </figure>
                <figure class="menu-courses-canvas-danish">
                    <img src="{% static 'images/danish-swirl.webp' %}" onerror="this.onerror=null; this.src='{% static 'images/danish-swirl.png' %}' ">
                </figure>
                <figure class="menu-courses-canvas-croissant-first">
                    <img src="{% static 'images/croissant.webp' %}" onerror="this.onerror=null; this.src='{% static 'images/croissant.png' %}' ">
                </figure>
                <figure class="menu-courses-canvas-cupcake">
                    <img src="{% static 'images/cupcake.webp' %}" onerror="this.onerror=null; this.src='{% static 'images/cupcake.png' %}' ">
                </figure>
                <figure class="menu-courses-canvas-yogurt">
                    <img src="{% static 'images/yogurt.webp' %}" onerror="this.onerror=null; this.src='{% static 'images/yogurt.png' %}' ">
                </figure>
                <figure class="menu-courses-canvas-croissant-second">
                    <img src="{% static 'images/croissant.webp' %}" onerror="this.onerror=null; this.src='{% static 'images/croissant.png' %}' ">
                </figure>
                <div class="menu-courses-canvas-lunch">
                    <img class="menu-courses-canvas-lunch-doodle js-inject-svg" src="{% static 'svg/doodle.svg' %}">
                    <p class="menu-courses-canvas-lunch-text">Pranzo</p>
                </div>
                <figure class="menu-courses-canvas-salad">
                    <img src="{% static 'images/salad.webp' %}" onerror="this.onerror=null; this.src='{% static 'images/salad.png' %}' ">
                </figure>
                <figure class="menu-courses-canvas-coffee">
                    <img src="{% static 'images/coffee.webp' %}" onerror="this.onerror=null; this.src='{% static 'images/coffee.png' %}' ">
                </figure>
                <figure class="menu-courses-canvas-sandwich">
                    <img src="{% static 'images/sandwich.webp' %}" onerror="this.onerror=null; this.src='{% static 'images/sandwich.png' %}' ">
                </figure>
                <div class="menu-courses-canvas-aperitif">
                    <img class="menu-courses-canvas-aperitif-doodle js-inject-svg" src="{% static 'svg/doodle.svg' %}">
                    <p class="menu-courses-canvas-aperitif-text">Aperitivo</p>
                </div>
                <figure class="menu-courses-canvas-croutons">
                    <img src="{% static 'images/croutons.webp' %}" onerror="this.onerror=null; this.src='{% static 'images/croutons.png' %}' ">
                </figure>
                <figure class="menu-courses-canvas-cocktail">
                    <img src="{% static 'images/cocktail.webp' %}" onerror="this.onerror=null; this.src='{% static 'images/cocktail.png' %}' ">
                </figure>
            </div>
            <div class="menu-courses-lunch"></div>
            <div class="menu-courses-aperitif"></div>
        </div>
    </section>

    <section class="special-events">
        <p class="special-events-description">
            Vuoi organizzare un rinfresco?<br>
            In cucina ci pensiamo noi!<br>
            Offriamo servizi di micro-catering e
            realizziamo torte per le occasioni più speciali.
        </p>
    </section>

    <section class="contacts">
        <div class="contacts-container">
            <div class="contacts-container-opening">
                <h2>Orari d'apertura</h2>
                <div class="contacts-container-opening-details">
                    <p>Lunedì - Domenica</p>
                    <p>10:00 - 23:00</p>
                </div>
            </div>
            <div class="contacts-container-touch">
                <h2>Contattaci</h2>
                <div class="contacts-container-touch-details">
                    <p>+39 075 1234567</p>
                </div>
            </div>
            <div class="contacts-container-social">
                <h2>Social</h2>
                <div class="contacts-container-social-details">
                    <p>Facebook</p>
                    <p>Instagram</p>
                    <p>Pinterest</p>
                </div>
            </div>
        </div>
        <div id="map"></div>
    </section>

    <footer class="footer">
        <p class="footer-text">&copy; 2016 Dispensa 63 All rights reserved. Website design and development by Evonove.</p>
    </footer>
{% endblock content %}
